body {
    background-color: #302b2f;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-fondo {
    background-color: #252024;
}

.carrito {
    margin-top: 11px;
    margin-right: 10px;
}

.resta, .suma {
    background: none;
    border: none;
}

.resta:hover, .suma:hover {
    background-color: #6b5d68;
    border-color: #292628;
}

.resta:focus, .suma:focus, .agregar:focus {
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
}

.agregar {
    background-color: #4d474b;
    border-color: #292628;
}

.agregar:hover {
    background-color: #72696f;
    border-color: #292628;
}

.card {
    display: inline-block;
    margin-left: 6px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
}

.card-body {
    background-color: #292628;
}

.spinner-container{
    display: flex;
    justify-content: center;
    margin-top: 260px;
}

.vino-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

.vino-orden {
    grid-area: 1/ 2/ 2/ 3;
}

.vino-imagen {
    grid-area: 1/ 1/ 2/ 2;
    height: 500px;
    margin-left: 80px;
    margin-top: 40px;
}

.vino-titulo {
    margin-top: 80px;
}

.vino-descripcion{
    margin-right: 20px;
}

@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #383636; /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
  }